body {
    font-family: 'Roboto Mono', monospace;
    background-color: #E1D7D4;
    font-weight: normal, 700;
}
h1, h2 {
    color: #E34E45;
    font-family: 'Rubik', sans-serif;
}
h1 {
    text-align: center;
}
#header p {
    text-align: center;
}
#tablesContainer {
    width: 255px;
    height: 300px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 30px auto;
    padding: 20px;
    background-color: white;
}
 .container1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.container2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.container3 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.available {
    background-color: #EEE;
    width: 75px;
    height: 75px;
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.available:hover {
    background-color: rgba(44, 238, 44, 0.8)
}
.reserved {
    background-color: #ADAAAA;
    width: 75px;
    height: 75px;
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: not-allowed;
}

.reserveNow {
    display: none;
    position: fixed;
    top: 5px;
    left: 30px;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    width: 80%;
    height: auto;
    padding: 10px;
    box-shadow: 0px 0px 31px rgba(0,0,0,0.3);
    margin: 0 auto;
}
section input {
    width: 100%;
    height: 20px;
    margin: 30px auto;
    border: none;
    border-bottom: solid darkgray 3px;
}
#saveBtn {
    font-weight: bold;
    background-color: #008000;
    color: white;
    height: 40px;
    width: 100%;
    border: none;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.3);
    cursor: pointer;
    margin-bottom: 15px;
}
#exitBtn {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: white;
    border: none;
    cursor: pointer;
}
.reserved .hoverData {
    display: none;
}
.reserved:hover .hoverData {
    position: relative;
    display: block;
    color: black;
    width: 63px;
    background-color: #ADAAAA;
    border: solid 1px black;
    border-top: none;
    z-index: 1;
}
@media screen and (min-width: 768px) {
    #header {
        font-size: 25px;
    }
    .reserveNow {
        width: 50%;
        height: auto;
        left: 180px;
        font-size: 25px;
    }
    section input {
        margin: 25px auto;
    }
    #saveBtn {
        margin-bottom: 15px;
    }
    #tablesContainer {
        width: 475px;
        height: 320px;
    }
    .available {
        width: 100px;
        height: 100px;
    }
    .reserved {
        width: 100px;
        height: 100px;
    }
    .reserved:hover .hoverData {
        width: 88px;
    }

}

@media screen and (min-width: 1200px) {
    #header {
        font-size: 25px;
    }
    .reserveNow {
        width: 50%;
        height: auto;
        left: 290px;
        font-size: 25px;
    }
    #tablesContainer {
        width: 600px;
        height: 490px;
    }
    .available {
        width: 150px;
        height: 150px;
    }
    .reserved {
        width: 150px;
        height: 150px;
    }
    .reserved:hover .hoverData {
        width: 135px;
    }

}
